{% extends 'base.html' %} {% block content %}
<script>
	</script>
<div class="wrapper col5">
  <div id="container">
  <div id="respond">
		<form enctype="multipart/form-data" method="post" class="form-signin wow fadeInUp" action="" style="max-width:60%">
			{% csrf_token %}
			<h2 class="form-signin-heading">
				{% if fn == "add" %}
					Add Food
				{% elif fn == "update" %}
					Update Food
				{% endif %}
			</h2>
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
			{% endif %}				
				<p>
					<select name="food_booking_id" required class="form-control" placeholder="Donor Name" autofocus="" style="height:30px;" />
					<option value="">Select Booking ID</option>
					{% for booking in bookinglist %}
						<option value="{{ booking.booking_id }}" {% ifequal booking.booking_id|stringformat:"s" foodDetails.food_booking_id %} selected="selected"{% endifequal %}>{{booking.booking_id}}</option>
					{% endfor %}
					</select>
				</p>
				<p>
					<input type="date" value="{{foodDetails.food_date}}" name="food_date" id="food_date" class="form-control" placeholder="Request Date">
					<span style="font-size:12px; color:#000000">Food Date</span>
				</p>
				<p>
					<input type="text" value="{{foodDetails.food_amount}}" name="food_amount" id="food_amount" class="form-control" placeholder="Total Amount">
					<span style="font-size:12px; color:#000000">Food Amount</span>
				</p>
				<p>
					<input type="text" value="{{foodDetails.food_description}}" name="food_description" id="food_description" class="form-control" placeholder="Description">
				</p>
			<input name="submit" type="submit" id="submit" value="Submit" />
			<input type="hidden" name="act" value="save_food">
			<input type="hidden" name="food_id" value="{{foodlist.food_id}}">
		</form>
	</div>
</div>
</div>
{% endblock content %}