{% extends 'base.html' %}
{% block content %}
<div class="wrapper col5">
  <div id="container">
  <h3>About Hotel Management System</h3>
  <p>The magazine Hotel Management was established in New York in 1922 by Ahrens Publishers. It absorbed or merged with various other hotel management magazines over the years, including Hotel World, which had been established in 1875. The magazine sometimes took on other names such as Hotel & Motel Management. reflecting these mergers or changes in the market.</p>
  <p>The magazine delivered hotel news, analysis and operational strategies. Regular features included special reports, research/top lists, hot products, technology, furniture, fixtures and equipment, hotel operations, and trends and statistics. Later owners included Advanstar Communications, Inc.</p>
  <p>In January 2011, the magazine was redesigned and renamed Hotel Management.Following these changes the magazine began to cover articles about technology, development and trends/statistics. It is published fifteen times a year. It was formerly published 21 times per year. Its headquarters is in New York City.</p>
</div>
</div>
{% endblock content %}

