{% extends 'base.html' %}
{% block content %}
    <div class="wrapper col3">
  <div id="intro">
    <div class="fl_left">
      <h2>Hotel Management System</h2>
      <p>The magazine Hotel Management was established in New York in 1922 by Ahrens Publishers. It absorbed or merged with various other hotel management magazines over the years, including Hotel World.</p>
      <p class="readmore"><a href="#">View More About &raquo;</a></p>
    </div>
    <div class="fl_right"><img src="/assets/img/trust.jpg" alt="" style="width:380px; height:300px; " /></div>
    <br class="clear" />
  </div>
</div>

<div class="wrapper col5">
  <div id="container">
    <div id="content">
      <h2>About Hotel Management System</h2>
      <p>The magazine Hotel Management was established in New York in 1922 by Ahrens Publishers. It absorbed or merged with various other hotel management magazines over the years, including Hotel World, which had been established in 1875. The magazine sometimes took on other names such as Hotel & Motel Management. reflecting these mergers or changes in the market.</p>
      <p>The magazine delivered hotel news, analysis and operational strategies. Regular features included special reports, research/top lists, hot products, technology, furniture, fixtures and equipment, hotel operations, and trends and statistics. Later owners included Advanstar Communications, Inc.</p>
      <p>In January 2011, the magazine was redesigned and renamed Hotel Management.Following these changes the magazine began to cover articles about technology, development and trends/statistics. It is published fifteen times a year. It was formerly published 21 times per year. Its headquarters is in New York City.</p>
    </div>
    <div id="column">
      <div class="holder">
        <h2>Modules of Project</h2>
        <ul id="latestnews">
          <li> <img class="imgl" src="/assets/img/side1.jpg" alt="" style="width:100px; height:75px"/>
            <p><strong><a href="#">Customer Management</a></strong></p>
            <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
          </li>
          <li class="last"> <img class="imgl" src="/assets/img/trust.jpg" alt="" style="width:100px; height:75px" />
            <p><strong><a href="#">Hotel Management</a></strong></p>
            <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
          </li>
        </ul>
      </div>
    </div>
    <br class="clear" />
  </div>
</div>
  {% endblock content %}

