{% extends 'base.html' %} 
{% block content %}
<script>
function delete_record(id)
{
	if(confirm("Do you want to delete the record ?")) {
		location.href = "/billing/delete/"+id;
	}
}
</script>	

<div class="wrapper col5">
  <div id="container">
  <h3>All Billing Records</h3>
			{% if messages %}
				<div class="alert alert-success fade in" style="margin:10px;">
					{% for message in messages %}
						<strong>{{ message }}</strong>
					{% endfor %}
				</div>
		  {% endif %}
		  
			<form name="frm" action="" method="post">
			  <table summary="Summary Here" cellpadding="0" cellspacing="0">
				   <thead>
					  <tr>
						<th>Sr. No.</th>
						<th>Room Number</th>
						<th>Customer Name</th>
						<th>Date</th>
						<th>Room Rent</th>
						<th>Food Bill</th>
						<th>Laundry Bill</th>
						<th>Description</th>
						<th>Action</th>
					  </tr>
					</thead><tbody>
					  {% for billing in billinglist %}
					  <tr>
						<td style="text-align:center; font-weight:bold;">{{ forloop.counter }}</td>
						<td>{{billing.room_number}}</td>
						<td>{{billing.customer_first_name}}</td>
						<td>{{billing.billing_date}}</td>
						<td>{{billing.billing_room_rent}}</td>
						<td>{{billing.billing_food_bill}}</td>
						<td>{{billing.billing_laundry_bill}}</td>
						<td>{{billing.billing_description}}</td>						
						<td>
						  <div class="btn-group">
						     <a href="/billing/update/{{billing.billing_id}}" class="btn btn-success">Edit</a> | 
							 <a href="JavaScript:delete_record({{billing.billing_id}})">Delete</a>
						  </div>
						  </td>
					  </tr>
					  {% endfor %}
				   </tbody>
				</table>
			  <input type="hidden" name="act" />
			  <input type="hidden" name="billing_id" id="recordID" />
			 </form>
		  
	  </div>
	</div>
{% endblock content %}